chex==0.1.86
dm-pix==0.4.1
scikit-image~=0.19.3
scikit-learn~=1.2.2
aicsimageio~=4.9.4
bioformats_jar~=2020.5.27
pandas~=1.5.2
matplotlib~=3.7.0
ipydatawidgets==4.3.2
ipyvolume==0.6.1
aicspylibczi>=3.0.5
